.login {
  align-items: center;
  display: flex;
  height: 100vh;
  text-align: center;
}

.login__title {
  color: white;
  font-size: $l-size;
  margin: 0 0 $m-size 0;
}

.login__subtitle {
  color: $off-white;
}
