// Colours
$blue-dark: #333745;
$blue: #3c4251;
$blue-light: #464b5e;
$off-white: #a5afd7;
$purple: #8357c5;

// Spacings
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;

// Breakpoints
$desktop-breakpoint: 45rem;
